<ion-view view-title="Mon profil">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Prénom</div>
      <div class="item item-body">
        <div>
          Julien
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Nom</div>
      <div class="item item-body">
        <div>
          ENTE
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Mail</div>
      <div class="item item-body">
        <div>
          beaugosse@julien.com
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
