<ion-view view-title="Listes des aperos">
  <ion-content>
      <ion-list>    
      
        <ion-item class="item-avatar item item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/aperoList/apero">
                <i class="icon ion-ios-wineglass-outline"></i>
                <h2>Cheers !</h2>
                <p>Back off, man. I'm drunk.</p>
                <i class="icon ion-chevron-right"></i>
        </ion-item>


        <ion-item class="item-avatar item item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/aperoList/apero">
                <i class="icon ion-chatbubble-working"></i>
                <h2>Discussion en anglais.</h2>
                <p>Qui veut ?</p>
                <i class="icon ion-chevron-right"></i>
                </ion-item>
        </ion-list>
    
  </ion-content>
</ion-view>
