<ion-view view-title="Proposer son apero">
    <ion-content>

       <div class="list">
          <label class="item item-input">
            <span class="input-label">Titre</span>
            <input type="text" ng-model="formDate">
          </label>
          <label class="item item-input">
            <span class="input-label">Theme</span>
            <input type="text" ng-model="formTheme">
          </label>
           <label class="item item-input">
            <span class="input-label">Dress code</span>
            <input type="text" ng-model="formDress">
          </label>
           <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="text" ng-model="formDate">
          </label>
           <label class="item item-input">
            <span class="input-label">Description</span>
            <input type="text" ng-model="formDesc">
          </label>
            <div class="padding">
                <button class="button button-block button-royal" ng-click="send()">Proposer une sortie</button>
            </div>
        </div>
    </ion-content>
</ion-view>